<!-- extending main -->
{% extends 'app/main.html' %}

<!-- load static -->
{% load static %}

<!-- title -->
{% block title %} Welcome Home {% endblock %}

<!-- header -->
{% block header %} {% include 'app/headerHome.html' %} {% endblock%}
<!-- body -->
{% block content %}
<main>
  <section id="home-about">
    <div class="container">
      <div class="about-image">
        <img src="{% static 'images/img1.jpg' %}" alt="Front view" />
      </div>
      <div class="about-description">
        <h2 class="title">Welcome to Boffar Cabins</h2>
        <p>
          Welcome to Boffar Cabins, where personalized hospitality meets rustic
          charm. As a family-owned retreat, we take pride in offering tailored
          experiences that cater to your preferences, ensuring your stay with us
          is nothing short of extraordinary.
        </p>
        <p>
          Whether you're seeking adventure in the great outdoors or simply
          looking to unwind and recharge, our team is dedicated to exceeding
          your expectations. From cozy interiors to breathtaking views, every
          aspect of your stay at Boffar Cabins is crafted to leave a lasting
          impression. Indulge in an unforgettable experience where luxury meets
          nature at Boffar Cabins. Your retreat awaits.
        </p>
      </div>
    </div>
  </section>
  <section id="features">
    <div class="container">
      <h2 class="title">Rooms & Suites</h2>
      <h4 class="features-subtitle">
        Discover diverse accommodations at Boffar Cabins. From cozy hideaways to
        luxurious retreats, find your perfect escape in nature's embrace.
      </h4>
      <div class="feature-cards">
        <div class="feature-card">
          <img src="{% static 'images/img2.jpg' %}" alt="Suite" />
          <h2 class="room-title">Suite</h2>
          <p class="room-price">ksh. 6000 Per night</p>
        </div>
        <div class="feature-card">
          <img src="{% static 'images/img3.jpg' %}" alt="Suite" />
          <h2 class="room-title">Double Room</h2>
          <p class="room-price">ksh. 4500 Per night</p>
        </div>
        <div class="feature-card">
          <img src="{% static 'images/img4.jpg' %}" alt="Suite" />
          <h2 class="room-title">Family</h2>
          <p class="room-price">ksh. 2000 Per night</p>
        </div>
      </div>
    </div>
  </section>
  <section id="restaurant">
    <div class="container">
      <h2 class="title">Our Restaurant menu</h2>

      <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Tab1')">
          MAINS
        </button>
        <button class="tablinks" onclick="openTab(event, 'Tab2')">
          DESSERTS
        </button>
        <button class="tablinks" onclick="openTab(event, 'Tab3')">
          DRINKS
        </button>
      </div>

      <div id="Tab1" class="tabcontent" style="display: block">
        <div class="menu-item">
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Succulent cold water prawns & crayfish tails on baby gem, coated in
            Marie Rose sauce served with brown bread and butter.
          </p>
          <h3 class="price">KSh. 2500</h3>
        </div>
        <div class="menu-item">
          <h2 class="menu-title">Chicken Broccoli Penne</h2>
          <p class="menu-description">
            Oven-roasted seasoned chicken, fresh broccoli and penne tossed in a
            creamy four cheese sauce. Served with warm Rustic Bread.
          </p>
          <h3 class="price">KSh. 1400</h3>
        </div>
      </div>

      <div id="Tab2" class="tabcontent">
        <div class="menu-item">
          <h3 class="price">KSh. 2500</h3>
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </div>
        <div class="menu-item">
          <h3 class="price">KSh. 2500</h3>
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </div>
        <div class="menu-item">
          <h3 class="price">KSh. 2500</h3>
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </div>
        <div class="menu-item">
          <h3 class="price">KSh. 2500</h3>
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </div>
        <div class="menu-item">
          <h3 class="price">KSh. 2500</h3>
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </div>
      </div>

      <div id="Tab3" class="tabcontent">
        <div class="menu-item">
          <h3 class="price">KSh. 2500</h3>
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </div>
        <div class="menu-item">
          <h3 class="price">KSh. 2500</h3>
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </div>
        <div class="menu-item">
          <h3 class="price">KSh. 2500</h3>
          <h2 class="menu-title">Tropical heat potato crisps</h2>
          <p class="menu-description">
            Lorem ipsum dolor sit amet consectetur.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="gallery">
    <div class="gallery-img">
      <img src="{% static 'images/img1.jpg' %}" alt="Image 1" />
    </div>
    <div class="gallery-img">
      <img src="{% static 'images/img2.jpg' %}" alt="Image 2" />
    </div>
    <div class="gallery-img">
      <img src="{% static 'images/img3.jpg' %}" alt="Image 3" />
    </div>
    <div class="gallery-img">
      <img src="{% static 'images/img4.jpg' %}" alt="Image 4" />
    </div>
  </section>

  <section id="team">
    <div class="container">
      <div class="team-cards">
        <div class="team-card">
          <span class="material-symbols-rounded"> groups </span>
          <h2 class="team-title title">Qualified Team</h2>
          <p>
            We employ the best people in the hospitality industry that are
            highly qualified and treat our guests kindly.
          </p>
        </div>
        <div class="team-card">
          <span class="material-symbols-rounded"> local_dining </span>
          <h2 class="team-title title">Restaurant</h2>
          <p>
            Feel free to visit our restaurant to enjoy the best dishes and
            appetizers as well as exclusive dishes from our chef.
          </p>
        </div>
        <div class="team-card">
          <span class="material-symbols-rounded"> spa </span>
          <h2 class="team-title title">SPA Salon</h2>
          <p>
            Indulge yourself with the best relaxation available at our hotel’s
            SPA salon. Trust us, you won’t regret!
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="cta">
    <div class="container">
      <h2 class="title">Providing High-quality Accommodation</h2>
      <a href="#!" class="btn btn-primary">Book Now</a>
    </div>
  </section>
</main>
{% endblock %}

<!-- footer -->
{% block footer %} {% include 'app/footer.html' %} {% endblock%}
