<!-- extending main -->
{% extends 'app/main.html' %}

<!-- load static -->
{% load static %}

<!-- title -->
{% block title %} Gallery {% endblock %}

<!-- header -->
{% block header %} {% include 'app/headerOther.html' %} {% endblock%}
<!-- Banner -->
{% block banner %} {% include 'app/banner.html' %} {% endblock%}
<!-- body -->
{% block content %}
<main>
  <section id="gallery" class="main-gallery">
    {% for gallery in galleries %}
    <div class="gallery-img">
      <a href="{{ gallery.image.url }}"
        ><img src="{{ gallery.image.url }}" alt="{{gallery.id}}"
      /></a>
    </div>
    {% endfor %}
  </section>
</main>

{% endblock %}

<!-- footer -->
{% block footer %} {% include 'app/footer.html' %} {% endblock%}
