<!-- extending main -->
{% extends 'app/main.html' %}

<!-- load static -->
{% load static %}

<!-- title -->
{% block title %} About Us {% endblock %}

<!-- header -->
{% block header %} {% include 'app/headerOther.html' %} {% endblock%}
<!-- Banner -->
{% block banner %} {% include 'app/banner.html' %} {% endblock%}
<!-- body -->
{% block content %}
<main>
  <section id="home-about">
    <div class="container">
      <div class="about-image">
        <img src="{% static 'images/front-1.jpg' %}" alt="Front view" />
      </div>
      <div class="about-description">
        <h2 class="title">About Our Cabins</h2>
        <p>
          Welcome to Boffar Cabins, where personalized hospitality meets rustic
          charm. As a family-owned retreat, we take pride in offering tailored
          experiences that cater to your preferences, ensuring your stay with us
          is nothing short of extraordinary.
        </p>
        <p>
          At Boffar Cabins, we blend modern comforts with the timeless allure of
          nature, providing guests with a serene escape from the hustle and
          bustle of everyday life. Each of our cabins is thoughtfully designed
          to reflect both contemporary amenities and the rustic elegance that
          defines our brand.
        </p>
        <p>
          Whether you're seeking adventure in the great outdoors or simply
          looking to unwind and recharge, our team is dedicated to exceeding
          your expectations. From cozy interiors to breathtaking views, every
          aspect of your stay at Boffar Cabins is crafted to leave a lasting
          impression.
        </p>
        <p>
          Indulge in an unforgettable experience where luxury meets nature at
          Boffar Cabins. Your retreat awaits.
        </p>
      </div>
    </div>
  </section>

  <section id="partners">
    <div class="container">
      <h2 class="title">Our Partners</h2>
      <div class="team-cards">
        <div class="team-card">
          <img
            src="{% static 'images/partners/kenya-tourism.jpg' %}"
            alt="partner"
          />
        </div>
        <div class="team-card">
          <img
            src="{% static 'images/partners/magical-kenya.jpg' %}"
            alt="partner"
          />
        </div>
        <div class="team-card">
          <img src="{% static 'images/partners/kws.jpeg' %}" alt="partner" />
        </div>
        <div class="team-card">
          <img
            src="{% static 'images/partners/mpesa-icon.jpg' %}"
            alt="partner"
          />
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}

<!-- footer -->
{% block footer %} {% include 'app/footer.html' %} {% endblock%}
