.main-header {
  position: relative;
  min-height: 90dvh;
}
.other-header {
  background-color: var(--color-gray-600);
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 10rem;
}
.nav__list {
  display: flex;
}
.nav__list-item {
  padding: 2rem;
}
.nav__list-item a {
  text-transform: uppercase;
  color: var(--color-white);
}
.nav__list-item a:hover {
  font-weight: 700;
  color: var(--color-wheat);
}

.hero {
  min-height: 60dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero_title {
  color: var(--color-white);
  margin-top: 5rem;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 0.6rem;
  font-size: 3.6rem;
}
.hero_p {
  color: var(--color-white);
  padding: 5rem 0;
  text-align: center;
  width: 60%;
  font-size: 2rem;
}
.stars {
  color: var(--color-white);
  margin-top: 2rem;
}
.banner {
  position: relative;
  height: 65vh;
  color: var(--color-wheat);
  text-transform: capitalize;
  font-size: 1.6em;
  letter-spacing: 0.1em;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
