{% load static %}

<footer>
  <div class="container">
    <img src="{% static 'images/logo.jpg' %}" alt="" class="footer-image" />
    <div class="links">
      <a href="">Pricing</a>
      <a href="">Rooms</a>
      <a href="">Contacts</a>
      <a href="">Gallery</a>
      <a href="">About</a>
    </div>
    <div class="socials">
      <span class="material-symbols-rounded"> favorite </span>
      <span class="material-symbols-rounded"> favorite </span>
      <span class="material-symbols-rounded"> favorite </span>
      <span class="material-symbols-rounded"> favorite </span>
      <span class="material-symbols-rounded"> favorite </span>
    </div>
    <p>&copy;. {% now "Y" %}. All Rights Reserved. Privacy Policy.</p>
  </div>
</footer>
