{% load static %}

<footer>
  <div class="container">
    <img src="{% static 'images/logo.jpg' %}" alt="" class="footer-image" />
    <div class="links">
      <a href="">Pricing</a>
      <a href="">Rooms</a>
      <a href="">Contacts</a>
      <a href="">Gallery</a>
      <a href="">About</a>
    </div>
    <div class="socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <p>&copy;. {% now "Y" %}. All Rights Reserved. Privacy Policy.</p>
  </div>
</footer>
