{% load static %}

<header class="main-header">
  <div class="video-container">
    {% if is_home %}
    <video autoplay loop muted class="video-background">
      <source
        src="{% static 'images/boffar_background.mp4' %}"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    {% endif %}
  </div>
  <div class="container">
    <div class="header-nav">
      <a href="/">
        <img
          src="{% static 'images/logo.jpg' %}"
          alt="Boffar Logo"
          class="logo"
        />
      </a>

      <ul class="nav__list">
        {% if not is_home %}
        <li class="nav__list-item">
          <a href="/">Home</a>
        </li>
        {% endif %}
        <li class="nav__list-item">
          {% if is_home %}
          <a href="{% url 'about' %}">About </a>
          {% else %}
          <a href="{% url 'about' %}">About Us</a>
          {% endif%}
        </li>
        <li class="nav__list-item">
          <a href="">Rooms</a>
        </li>
        {% if not is_home %}
        <li class="nav__list-item">
          <a href="/">Our Team</a>
        </li>
        <li class="nav__list-item">
          <a href="/">Gallery</a>
        </li>
        {% endif %}
        <li class="nav__list-item">
          <a href="">Contacts</a>
        </li>
      </ul>

      {% if not is_home %}
      <a href="" class="btn btn__book">Book Now</a>
      {% endif %}
    </div>

    <!-- END NAV -->
    <!-- HERO -->
    <div class="hero">
      {% if is_home %}
      <h1 class="hero_title">Best Place to Stay</h1>
      <div class="stars">
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
      </div>
      <p class="hero_p">
        Experience the ultimate getaway at Boffar Cabins and Campsite – where
        luxury meets nature! Indulge in top-tier accommodations, impeccable
        services, and unmatched amenities. Your perfect escape awaits!
      </p>
      {% endif %}
    </div>
  </div>
</header>
