{% load static %}

<header class="main-header">
  <div class="container">
    <div class="header-nav">
      <a href="/">
        <img
          src="{% static 'images/logo.jpg' %}"
          alt="Boffar Logo"
          class="logo"
        />
      </a>

      <ul class="nav__list">
        <li class="nav__list-item">
          <a href="/">Home</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'rooms' %}">Rooms</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'contacts' %}">Contacts</a>
        </li>
      </ul>

      <a href="{% url 'bookings' %}" class="btn btn__book btn-nav">Book Now</a>
    </div>

    <!-- END NAV -->
    <!-- HERO -->
    <div class="hero">
      <h1 class="hero_title">Best Place to Stay</h1>
      <div class="stars">
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
        <span class="material-symbols-rounded"> star </span>
      </div>
      <p class="hero-ad">SERENITY, NATURAL, ADVENTURE</p>
      <a href="{% url 'bookings' %}" class="btn btn__book btn-header"
        >Book Now</a
      >
      <div class="activities">
        <a href="{% url 'rooms' %}">
          <i class="fa-solid fa-bed"></i>
          Accomodation
        </a>
        <a href="{% url 'activities' %}">
          <i class="fa-solid fa-campground"></i>
          Campsite
        </a>
        <a href="{% url 'activities' %}">
          <i class="fa-solid fa-ring"></i>
          Wedding
        </a>
        <a href="{% url 'activities' %}">
          <i class="fa-solid fa-person-hiking"></i>
          Activities
        </a>
        <a href="{% url 'activities' %}">
          <i class="fa-solid fa-people-group"></i>
          Conference
        </a>
      </div>
    </div>
  </div>
</header>
