{% load static %}

<header class="other-header">
  <div class="container">
    <div class="header-nav" id="other-header-nav">
      <a href="/">
        <img
          src="{% static 'images/logo.jpg' %}"
          alt="Boffar Logo"
          class="logo"
        />
      </a>
      <ul class="nav__list" id="other-nav__list">
        <li class="nav__list-item">
          <a href="/">Home</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'rooms' %}">Rooms</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'team' %}">Our Team</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'gallery' %}">Gallery</a>
        </li>
        <li class="nav__list-item">
          <a href="{% url 'contacts' %}">Contacts</a>
        </li>
      </ul>
      <a href="{% url 'bookings' %}" class="btn btn__book btn-nav">Book Now</a>

      <div class="hamburger">
        <span class="material-symbols-rounded" id="hamburger-btn"> menu </span>
      </div>
    </div>

    <!-- END NAV -->
    <!-- Banner -->
  </div>
</header>
