{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boffar Cabins | {% block title %} Welcome {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/logo_clr.png' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css"
    />
  </head>
  <body>
    <!-- header -->
    {% block header %} {% endblock %}
    <!-- Banner -->
    {% block banner %} {% endblock %}
    <!-- main -->
    {% block content %} {% endblock %}
    <!-- footer -->
    {% block footer %} {% endblock %}
    <script
      src="https://kit.fontawesome.com/90ec0dbade.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
